<table class="table w-full border rounded-xl overflow-hidden">
    <thead class="bg-base-200">
      <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Status</th>
        <th>Species</th>
        <th>Location</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
  
    <tbody>
      {% for pet in pets %}
      <tr class="hover align-middle">
  
        <!-- PHOTO -->
        <td>
          {% if pet.image %}
            <img src="{{ pet.image.url }}" class="w-24 h-24 object-cover rounded-lg border">
          {% else %}
            <div class="w-24 h-24 bg-base-200 flex items-center justify-center">
              No Image
            </div>
          {% endif %}
        </td>
  
        <!-- NAME -->
        <td class="font-bold text-lg">
            <a
                href="{% url 'lost-pet-detail' pet.id %}"
                class="link link-hover"
            >
                {{ pet.name }} 
            </a>
        </td>
  
        <!-- STATUS -->
        <td>
          {% if pet.pet_status == "lost" %}
            <span class="badge badge-error">Lost</span>
          {% else %}
            <span class="badge badge-success">Found</span>
          {% endif %}
        </td>
  
        <!-- SPECIES -->
        <td>{{ pet.species }}</td>
  
        <!-- LOCATION -->
        <td>{{ pet.location }}</td>
  
        <!-- DESCRIPTION -->
        <td>{{ pet.description|default:"No description provided." }}</td>
  
        <!-- ACTIONS -->
        <td>
            {% if user.is_authenticated %}
                {% if user.is_superuser or pet.created_by_id == user.id %}
          
              <a href="{% url 'lost-pet-update' pet.id %}"
                 class="btn btn-warning btn-sm mr-2">
                Update
              </a>
          
              <a href="{% url 'lost-pet-delete' pet.id %}"
                 class="btn btn-error btn-sm">
                Delete
              </a>
          
            {% else %}
              <span class="text-gray-400 text-sm">—</span>
                {% endif %}
            {% endif %}
          </td>
  
      </tr>
  
      {% empty %}
      <tr>
        <td colspan="7" class="text-center py-6">
          No pets found.
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>