<table border="1" cellpadding="10">
  <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Gender</th>
      <th>Breed</th>
      <th>Location</th>
     
  </tr>

  {% for pet in pets %}
  <tr>
    <td>
      <a
          href="{% url 'pet-detail' pet.id %}"
          class="link link-hover"
      >
          {{ pet.name }}
      </a>
  </td>
      <td>{{ pet.species }}</td>
      <td>{{ pet.gender }}</td>
      <td>{{ pet.breed }}</td>
      <td>{{ pet.location }}</td>
  </tr>
  {% empty %}
  <tr>
      <td colspan="5">No pets found.</td>
  </tr>
  {% endfor %}
</table>