{% extends 'adoption/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<h1 class="text-2xl font-bold mb-4">Login</h1>

{% if form.errors %}
  <div class="alert alert-error mb-3">
    Invalid email or password
  </div>
{% endif %}

<form method="post" class="space-y-4 max-w-md">
  {% csrf_token %}

  <!-- EMAIL -->
  <div>
    <label class="block font-semibold mb-1">Email</label>
    <input
      type="text"
      name="username"
      placeholder="Enter your email"
      class="input input-bordered w-full"
      required
    >
  </div>

  <!-- PASSWORD -->
  <div>
    <label class="block font-semibold mb-1">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Enter your password"
      class="input input-bordered w-full"
      required
    >
  </div>

  <button class="btn btn-primary w-full">
    Login
  </button>
</form>

<p class="mt-4 text-sm">
  Don't have an account?
  <a href="{% url 'register' %}" class="link link-primary">Register</a>
</p>

{% endblock %}