{% extends 'adoption/base.html' %}
{% block title %}Take an Animal Home{% endblock %}
{% block content %}
<h1>The purpose of the project</h1>

<p>True happiness for a stray doggie is to find a caring, loving owner. 
  Even a shelter with the comfortable open-air cages and the most expensive dog food can’t replace a real family. 
  We try to find the families for every pet we patronize. 
  This will help to make doggies happy and to make room in the shelters for other animals from the streets.</p>
  
<h1>Our big dream and goal is to find homes for as many dogs and cats as possible</h1>

<p>We are sure that every dog is a real personality with its own character, favorite games and funny habits. 
  That’s why every pet in our shelters has its personal page on the Foundation's website. 
  Choosing a future pet on our website is very easy. You can set the criteria – city, shelter, sex, age, assignment and growth. 
  After choosing a dog, the potential owner feels in an online application form. This form is seriously considered by the Foundation and, 
  if the applicant is closely approached to the requirements, we sign the contract which obligates the future owner of a dog to ensure all needed conditions for the animal, 
  and give the photos report about the dog’s life for the Foundation. 
  The Foundation carries out the control of the conditions the dog lives by organizing meetings in the new places of their living.</p>

{% endblock %}