{% extends 'adoption/base.html' %}
{% block title %}Pets{% endblock %}
{% block content %}
<h1>Shelter Guardianship</h1>

<p>
  What kind of help is the most needed by animals in shelters? We here in Happy Paw believe that this is a regular support! 

Guarding shelters from Happy Paw enables us to satisfy part of the basic needs of stray animals, which allows shelters to count on regular monthly support for cats and dogs. And the money that the shelters accumulate on their own are directed to solving other crucial problems.
</p>

{% endblock %}