{% extends 'adoption/base.html' %}

{% block title %}Report Lost Pet{% endblock %}

{% block content %}

<h1 class="text-2xl font-bold mb-4">Report a Lost Pet</h1>

<form method="POST" enctype="multipart/form-data" class="space-y-4">
    {% csrf_token %}
    {{ form.as_p }}

    <!-- IMAGES -->
    <div>
        <label class="font-bold block mb-2">Images</label>
    
        {{ formset.management_form }}
    
        {% for f in formset %}
            <div class="mb-3">
                {{ f.image.errors }}
                {{ f.image }}
            </div>
        {% endfor %}
    </div>

    <button class="btn btn-primary">
        Submit Lost Pet
    </button>
</form>

{% endblock %}