{% extends 'adoption/base.html' %}

{% block title %}Lost & Found{% endblock %}

{% block content %}

<div class="flex justify-between items-center mb-4">

    <h1 class="text-2xl font-bold">Lost & Found Pets</h1>

    <a href="{% url 'lost-pet-add' %}" class="btn btn-warning">
      + Add Lost Pet
    </a>

</div>

<input
  type="search"
  name="q"
  placeholder="Search pets..."
  hx-get="/api/pets/search/"
  hx-trigger="keyup changed delay:300ms"
  hx-target="#pet-results"
  hx-swap="innerHTML"
/>

<div id="pet-results">
  {% include 'adoption/partials/lost_pet_table.html' %}
</div>

{% endblock %}