{% extends 'adoption/base.html' %}

{% block title %}Lost & Found{% endblock %}

{% block content %}

<div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">Lost & Found Pets</h1>

    <a href="{% url 'lost-pet-add' %}" class="btn btn-warning">
      + Add Pet
    </a>
</div>

<!-- SEARCH BAR -->
<div class="relative w-full max-w-md mb-6">

    <input
        id="lost-search"
        type="search"
        name="q"
        placeholder="Search by name, breed, location..."
        class="input input-bordered w-full pr-10 no-native-clear"
        hx-get="/api/pets/search/"
        hx-trigger="keyup changed delay:300ms"
        hx-target="#pet-results"
        hx-swap="innerHTML"
    />

    <!-- CLEAR BUTTON -->
    <button
        type="button"
        onclick="clearLostSearch()"
        class="absolute right-3 top-2 text-gray-500 hover:text-black text-lg"
    >
        ✕
    </button>

</div>

<!-- RESULTS -->
<div id="pet-results">
    {% include 'adoption/partials/lost_pet_table.html' with pets=pets %}
</div>

<!-- JS -->
<script>
function clearLostSearch() {
    const input = document.getElementById("lost-search");

    input.value = "";
    htmx.trigger(input, "keyup");
}
</script>

{% endblock %}