{% extends "adoption/base.html" %}

{% block content %}

<div class="max-w-3xl mx-auto bg-white p-6 rounded-xl shadow">

  <!-- TITLE -->
  <h1 class="text-3xl font-bold mb-4">
    {{ pet.name }}
  </h1>

  <!-- IMAGES -->
  <div class="grid grid-cols-2 gap-3 mb-6">
    {% for img in pet.images.all %}
      <img src="{{ img.image.url }}" class="rounded-lg w-full h-48 object-cover">
    {% empty %}
      <img src="https://placehold.co/400x300" class="rounded-lg">
    {% endfor %}
  </div>

  <!-- INFO -->
  <div class="space-y-2 text-lg">

    <p><b>Species:</b> {{ pet.species }}</p>
    <p><b>Breed:</b> {{ pet.breed }}</p>
    <p><b>Gender:</b> {{ pet.gender }}</p>
    <p><b>Age:</b> {{ pet.age }}</p>

    <p><b>Status:</b> {{ pet.adoption_status }}</p>
    <p><b>Pet Status:</b> {{ pet.pet_status }}</p>

    <p>
      <b>Location:</b>
      {{ pet.branch.city.name }},
      {{ pet.branch.city.province.code }}
    </p>

    <p><b>Description:</b></p>
    <p class="text-gray-600">{{ pet.description }}</p>

  </div>

  <!-- BACK BUTTON -->
  <div class="mt-6">
    <a href="{% url 'pet-list' %}" class="btn btn-primary">
      ← Back to list
    </a>
  </div>

</div>

{% endblock %}